<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Facebook Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>

    <ion-list-header lines="inset">
      <ion-label style="font-weight: bolder;font-size: large;">Ad Account:</ion-label>
      <ion-button (click)="refresh()">REFRESH</ion-button>
    </ion-list-header>

    <ion-item *ngFor="let item of data" (click)="itemTapped($event, item)" >
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h3>Name : {{item.name}}</h3>
        <p>ID : {{item.id}}</p>
      </ion-label>

    </ion-item>


    <!--button ion-item *ngFor="let item of [1,2,3,4]"   (click)="test()">
      item No : {{item}}
      <p>Nombre chantier : {{item}}</p>
      <button ion-button clear item-end  (click)="test()">Détail</button>
    </button-->
  </ion-list>

</ion-content>
